header {
  background-color: #d3c2ff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: black;
  margin: 0;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}
